.list-item {
  padding: 10px;
  box-shadow: 0 2px 2px lightgray;
  margin: 10px;
  background: #fff;
}

.inline-block {
  display: inline-block;
}

.study-title {
  display: flex;
  justify-content: space-between;
}

.study-date {
  font-weight: 100;
  color: lightgray;
  font-style: italic;
  font-size: .6em;
  margin-right: 10px;
}

.expander {
  display: flex;
  justify-content: space-between;
}

.expander span {
  padding: 5px 10px;
}

.expand-button {
  background: lightseagreen;
  color: white;
  border-radius: 0 10px 0 10px;
  vertical-align: middle;
  font-weight: bold;
  padding: 5px 10px;
}

.expand-button:hover {
  background: seagreen;
  cursor: pointer;
}

.peer-review-indicator {
  color: darkred;
  font-weight: 100;
  font-style: italic;
}

.details {
  display: none;
}

.details.expanded {
  display: block;
}

span.section-name {
  display: block;
  margin: 20px 0 5px 0;
  font-weight: 500;
  padding-left: 10px;
  border-left: 3px solid lightseagreen;
  border-bottom: 1px solid lightseagreen;
}

.panel {
  font-weight: 100;
}

.panel.study-title {
  font-weight: 600;
  margin-bottom: 10px;
}