.filters-container {
  text-align: right;
}

.submit-review-button-container {
  text-align: right;
  margin-top: 15px;
}

.btn {
  display: inline-block;
  background: lightseagreen;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.btn.filter {
  background: gray;
}

.btn.invert {
  color: lightseagreen;
  background: none;
  border: 1px solid lightseagreen;
}

.btn.invert:hover {
  background: rgba(250,250,250,1);
  border-bottom: 3px solid lightseagreen;
  border-right: 3px solid lightseagreen;
}

.btn:hover {
  background: seagreen;
}

.btn.filter:hover {
  background: darkgray;
}

.filter.filter-on {
  background: lightseagreen;
}

.btn.filter-on:hover {
  background: seagreen;
}